* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.logo_principal {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #3db9a1;
}

.logo_principal img {
  width: 30%;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu_direita {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  color: black;
}
.menu_direita ul {
  display: flex;
  gap: 15px;
}

.menu_esquerda {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  color: black;
}
.menu_esquerda ul {
  display: flex;
  gap: 40px;
}

a {
  text-decoration: none;
}

.imagem_menu img {
  width: 100%;
}

.texto_inicial {
  color: #374249;
  font-size: 40px;
  font-family: "Prociono", serif;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
@media (max-width: 640px) {
  .texto_inicial {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.novidades_oculos {
  display: inline-block;
  overflow: hidden;
  color: #fff;
  background-color: #374249;
  border-radius: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  padding: 10px 27px 10px 27px;
  margin-left: 23px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 395px;
  height: 69px;
}
@media (max-width: 640px) {
  .novidades_oculos {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.full-width1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
@media (max-width: 640px) {
  .full-width1 {
    flex-flow: column wrap;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .full-width1 {
    /*acho que nao foi necessario meter nada*/
  }
}

.retangulo_oculos {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 380px;
  height: 483px;
  margin-bottom: 37px;
}

.texto_oculos {
  text-align: center;
  font-size: 31px;
  width: 100%;
}

/*.cor_oculos {
    text-align: center;
    font-size: 31px;
    width: 100%;
}*/
.preco_oculos {
  font-size: 30px;
  margin-top: 11px;
  margin-bottom: 0px;
  padding-bottom: 13px;
}

.linha_oculos {
  border: 1px solid #3db9a1;
  margin-left: 10px;
  margin-right: 10px;
}

.comprar_oculos {
  border-radius: 7px;
  background-color: #C4C4C4;
  color: #000000;
  height: 34px;
  width: 133px;
  font-size: 18px;
  padding-bottom: 13px;
  margin-top: 100px;
  padding: 0px;
  margin-top: 30px;
}

.comprar_oculos:hover {
  background-color: #374249;
  color: white;
}

.comprar_acessorios:hover {
  background-color: #374249;
  color: white;
}

.novidades_acessorios {
  display: inline;
  overflow: hidden;
  color: #fff;
  background-color: #374249;
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 38px;
  padding: 10px 27px 10px 27px;
  margin-left: 23px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 395px;
  height: 69px;
}
@media (max-width: 640px) {
  .novidades_acessorios {
    margin: 0 auto;
    margin: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.full-width2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
  gap: 23px;
  margin-top: 20px;
}
@media (max-width: 640px) {
  .full-width2 {
    display: grid;
    width: 380px;
    margin: auto;
    width: inherit;
  }
}
@media (max-width: 768px) {
  .full-width2 {
    /*nao vi necessidade de usar*/
  }
}

.retangulo_acessorios {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 580px;
  margin-top: 30px;
  margin-bottom: 37px;
}
@media (max-width: 640px) {
  .retangulo_acessorios {
    width: 380px;
    width: inherit;
  }
}

.texto_acessorios {
  text-align: center;
  font-size: 31px;
}

.preco_acessorios {
  font-size: 30px;
  margin-top: 11px;
  margin-bottom: 0px;
  padding-bottom: 13px;
}

.caixa_oculos {
  margin: inherit;
  margin-top: 40px;
  margin-bottom: 62px;
}

.linha_acessorios {
  border: 1px solid #3db9a1;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  padding-bottom: 0px;
}

.comprar_acessorios {
  border-radius: 7px;
  background-color: #C4C4C4;
  color: #000000;
  height: 34px;
  width: 133px;
  font-size: 18px;
  padding-bottom: 13px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #374249;
  color: #fff;
  height: 143px;
}
.footer ul {
  display: flex;
  gap: 40px;
}
@media (max-width: 640px) {
  .footer {
    justify-items: center;
    display: grid;
    height: auto;
  }
}

.footer_titulo {
  font-family: "Red Hat Display", sans-serif;
  font-size: 27px;
  padding: 0px;
  margin-top: 18px;
  margin-bottom: 25px;
}

.footer_esquerda {
  display: inline;
  text-align: center;
  font-size: 20px;
}

.footer_direita {
  display: inline;
  text-align: center;
}

/* COMENTARIO */

/*# sourceMappingURL=style.css.map */
